@mixin vcenter {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.detailview {
	max-width: 740px;
}

.cardimage {
	max-width: 400px;
}

.card {
	position: relative;
}

#leftarrow {
	@include vcenter;
	left: -90px;
	font-size: 50px;
}

#rightarrow {
	@include vcenter;
	right: -90px;
	font-size: 50px;
}

.hidden {
	display: none;
}